*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    text-align: center;
    background-color:#00131c ;
    color: white;
    
}
#content{
    color:#dba617;
}
h1{
    background-color: black;
    margin: 20px;
    
}
p{
    padding: 50px;
}

